body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial;
  background: #222;
  color: white;
}

.game-area {
  position: relative;
  width: 300px;
  height: 500px;
  background: #555;
  overflow: hidden;
  border: 2px solid #fff;
  margin-top: 20px;
  border-radius: 10px;
}

.player {
  position: absolute;
  bottom: 10px;
  left: 130px;
  width: 40px;
  height: 70px;
  background: red;
  border-radius: 5px;
}

.obstacle {
  position: absolute;
  width: 40px;
  height: 40px;
  background: green;
  top: -40px;
  border-radius: 5px;
}
.controls {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.controls button {
  font-size: 20px;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  transition: 0.2s;
}

.controls button:hover {
  background-color: #0056b3;
}
